In [9]:
job_titles = [
    "Data Scientist", "Data Analyst", "Machine Learning Engineer", "AI Engineer",
    "Business Intelligence Analyst", "Big Data Engineer", "Data Engineer",
    "Deep Learning Engineer", "Statistician", "Quantitative Analyst",
    "Research Scientist", "Analytics Consultant", "Predictive Modeler",
    "Data Architect", "ETL Developer", "Database Administrator",
    "Data Visualization Specialist", "Decision Scientist", "Computer Vision Engineer",
    "NLP Engineer", "Marketing Data Analyst", "Fraud Analyst",
    "Product Data Scientist", "Operations Research Analyst", "Financial Data Analyst",
    "Customer Insights Analyst", "Healthcare Data Analyst", "Risk Analyst",
    "Supply Chain Analyst", "Cybersecurity Data Analyst"
]

In [10]:
job_titles

['Data Scientist',
 'Data Analyst',
 'Machine Learning Engineer',
 'AI Engineer',
 'Business Intelligence Analyst',
 'Big Data Engineer',
 'Data Engineer',
 'Deep Learning Engineer',
 'Statistician',
 'Quantitative Analyst',
 'Research Scientist',
 'Analytics Consultant',
 'Predictive Modeler',
 'Data Architect',
 'ETL Developer',
 'Database Administrator',
 'Data Visualization Specialist',
 'Decision Scientist',
 'Computer Vision Engineer',
 'NLP Engineer',
 'Marketing Data Analyst',
 'Fraud Analyst',
 'Product Data Scientist',
 'Operations Research Analyst',
 'Financial Data Analyst',
 'Customer Insights Analyst',
 'Healthcare Data Analyst',
 'Risk Analyst',
 'Supply Chain Analyst',
 'Cybersecurity Data Analyst']

In [11]:
data_titles = [job for job in job_titles if 'Data' in job]

In [12]:
data_titles

['Data Scientist',
 'Data Analyst',
 'Big Data Engineer',
 'Data Engineer',
 'Data Architect',
 'Database Administrator',
 'Data Visualization Specialist',
 'Marketing Data Analyst',
 'Product Data Scientist',
 'Financial Data Analyst',
 'Healthcare Data Analyst',
 'Cybersecurity Data Analyst']

In [13]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'R']

In [14]:

for job in job_roles:
    qualified = True
    for skill in my_skills:
      if skill not in my_skills:
        qualified = False
        break
    if qualified:
      print(job['role'])

Data Analyst
Data Scientist
Machine Learning Engineer
Data Engineer
Business Intelligence Analyst
Quantitative Analyst
Operations Analyst
Database Administrator
AI Engineer
Statistician

In [15]:
def job_salary(job_title, salary):
  print(f"The salary for a {job_title} is {salary}")

job_salary('Data Scientist', 100000)

The salary for a Data Scientist is 100000

In [16]:
def salary_calculator(base_salary, bonus_rate = .05):
  total_salary = base_salary + (base_salary * bonus_rate)
  return total_salary
salary1 = 300000

salary_calculator(salary1)

315000.0

In [17]:
salaries = [
    50000, 55000, 60000, 65000, 70000, 75000, 80000, 85000, 90000, 95000,
    100000, 110000, 120000, 130000, 140000, 150000, 160000, 170000, 180000, 190000,
    200000, 210000, 220000, 230000, 240000, 250000, 260000, 270000, 280000, 290000,
    300000, 320000, 340000, 360000, 380000, 400000, 420000, 440000, 460000, 480000,
    500000, 520000, 540000, 560000, 580000, 600000, 620000, 640000, 660000, 680000
]

In [18]:
Salary = [(salary * 1.5) for salary in salaries]
Salary

[75000.0,
 82500.0,
 90000.0,
 97500.0,
 105000.0,
 112500.0,
 120000.0,
 127500.0,
 135000.0,
 142500.0,
 150000.0,
 165000.0,
 180000.0,
 195000.0,
 210000.0,
 225000.0,
 240000.0,
 255000.0,
 270000.0,
 285000.0,
 300000.0,
 315000.0,
 330000.0,
 345000.0,
 360000.0,
 375000.0,
 390000.0,
 405000.0,
 420000.0,
 435000.0,
 450000.0,
 480000.0,
 510000.0,
 540000.0,
 570000.0,
 600000.0,
 630000.0,
 660000.0,
 690000.0,
 720000.0,
 750000.0,
 780000.0,
 810000.0,
 840000.0,
 870000.0,
 900000.0,
 930000.0,
 960000.0,
 990000.0,
 1020000.0]

In [19]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [20]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}]

my_skills = ['Python', 'SQL', 'Excel']

In [21]:
qualified = []
for job in job_roles:
  if all(skill in job['skills'] for skill in my_skills):
    qualified.append(job['role'])

qualified

['Data Analyst', 'Business Intelligence Analyst']

In [22]:
job_id = 28

In [23]:
isinstance(job_id, float)

False

In [24]:
NAME = "aDitya JaNgid"

In [25]:
NAME.upper()

'ADITYA JANGID'

In [26]:
NAME.lower() + " don"

'aditya jangid don'

In [27]:
len(NAME)

13

In [30]:
Job_Roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
My_Skills = ['Python', 'SQL', 'Excel']

In [31]:
Skills_Needed = []
for job in Job_Roles:
  if My_Skills == job['skills']:
    Skills_Needed.append(job)

print(Skills_Needed)

[{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']}]

In [32]:
def greet(name):
  return("Hello "+ name)

greet("Aditya")

'Hello Aditya'

In [33]:
def sum_two_number(num1, num2):
  Total_sum = num1 + num2
  return(Total_sum)

In [34]:
first = 103883
second = 2376423

sum_two_number(first, second)

2480306

In [35]:
def find_max(a,b,c):
  num = (a,b,c)
  return(max(num))

find_max(13414,139813,1398134)

1398134

In [36]:
from datetime import datetime